body {
    font-family: monospace;
    margin: 0;
}

.selection {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.25em;
}

.selection-divider {
    display: none;
    border-top: 2px solid #E9E9E9;
}

.selection-item {
    padding-right: 20px;
    padding-bottom: 10px;
}

#submission-text {
    width: 600px;
    height: 300px;
}

.error {
    color: red;
}

.credit {
    position: absolute;
    bottom: 0;
}

.content {
    position: absolute;
    line-height: 1;
    height: 100%;
    width: 100%;
}

.art pre {
    margin: 0;
}

@media (max-width: 900px), (orientation: portrait) {
    .selection {
        display: block;
    }

    .selection-divider {
        display: block;
    }
}