body {
    font-family: monospace;
    margin: 0;
}

.selection {
    position: relative;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.25em;
}

.selection-divider {
    display: none;
    border-top: 2px solid #E9E9E9;
}

.selection-item {
    padding-right: 20px;
    padding-bottom: 10px;
}

#submission-text {
    width: 600px;
    height: 300px;
}

.error {
    color: red;
}

.credit {
    position: absolute;
    bottom: 0;
    margin: 10px;
}

.content {
    position: absolute;
    line-height: 1;
    height: 100%;
    width: 100%;
}

#art {
    background-color: #F9F9F9;
    border: 2px solid #F0F0F0;
    width: 300px;
}

#art pre {
    margin: 0;
}

#size-tester {
    position: fixed;
    visibility: hidden;
    width: auto;
    height: auto;
    white-space: nowrap;
    font-size: 1px;
}

@media (max-width: 900px), (orientation: portrait) {
    .selection {
        display: block;
    }

    .selection-divider {
        display: block;
    }
}